<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            min-height: 100vh;
            min-width: 100%;
            justify-content: center;
            align-items: center;
        }
        .error-msg{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="error-msg">
        <h1>404 ERROR</h1>
        <p>Page not found</p>
    </div>
</body>
</html>
